body{
	font-family: Arial, "Times New Roman", sans-serif;
	width: ;
	height: ;
	margin: 0 50px 0 50px;
	background-size: cover;
	margin: 0.5em 0;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	box-shadow: 0 2px 5px #666666;
	list-style: none;
	text-decoration: none;

}
header .ds {
	font-size: 20px;
	font-weight: 900px;
	color: #000;
	transition: .5s;
}
header .ds:hover {
	transform: scale(1.2);

}
header nav ul li { 
	position: relative;
	float: left;
	list-style: none;
	text-decoration: none;
	text-align: left;
}
header nav ul li a {
	padding: 20px;
	color: #000;
	font-size: 15px;
	display: block;
	list-style: none;
	text-decoration: none;
	text-align: left;
}
header nav ul li a:hover {
	background: #ba55d3;
	color: #000000;
}

.ds3 {
	width: auto;
	top: 0;
	left: ;
	right: 0;
	margin: 2em;
	padding: 0;
	top: 50%;
	padding: 10px 10px 0px 10px;
	list-style: none;
	text-decoration: none;
	margin-top: 6em;
	height: 10em;
}
.ds {
	list-style: none;
	text-decoration: none;
}
.ds4 {
	list-style: none;
	text-decoration: none;
	margin: 0 0 0 16px;
}
td{
	margin: 0 0 0 0;
	padding: 10px 0 0 10px;
	max-width: auto;
	font-family: Arial, "Times New Roman";
	border-radius: 20px;
	vertical-align: middle;
	margin-top: -5em;
}
.ds3 td ul li{
	text-align: left;
}
figure {
  border: thin #c0c0c0 solid;
  flex-flow: column;
  padding: 5px;
  max-width: 1000px;
  margin: 10px 15px 10px 10px;
  float: right;
}

img {
  max-width: 1000px;
  max-height: 1000px;
  background-color: ;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
p {
	text-align: left;
}
strong {
	text-align: left;
	font-size: 20px;
	font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;;
}
.as {
	color: #8b8b98;
	font-size: 13px;
}
.as4 {
	max-width: 200px;
	border: thin #c0c0c0 solid;
	float: left;
}
.as5 {
	border: thin #c0c0c0 solid;
}
.as6 {
	max-width: 500px;
}
.as7 {
	margin: 10px 35px 10px 10px;
	max-width: 200px;
	border: thin #c0c0c0 solid;
	float: left;
}
.as8 {
	margin: 254px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as9 {
	margin: 396px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as10 {
	margin: 136px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as11 {
	margin: 6px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as12 {
	margin: 126px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as13 {
	margin: 126px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as14 {
	margin: 126px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as15 {
	margin: 218px 0px 0px 0px;
	border: thin #c0c0c0 solid;
}
.as19 {
	margin: 35px 35px 35px 35px;
}
.f1 {
	text-align: left;
	font-size: 15px;
}
.f2 {
	text-align: center;
	font-size: 30px;
}
.p {
	padding: 0px 0px 0px 20px;
}
.ds5 {
	width: auto;
	top: 0;
	left: ;
	right: 0;
	margin: 2em;
	padding: 0;
	top: 50%;
	padding: 0px 0px 0px 10px;
	list-style: none;
	text-decoration: none;
	margin-top: 6em;
	height: 10em;
	float: left;
}